# ===== FastAPI & Server =====
fastapi==0.115.6
uvicorn[standard]==0.32.1
pydantic==2.12.5
pydantic_core==2.41.5
starlette==0.41.3

# ===== Authentication =====
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.1.2
cryptography==46.0.4
email-validator==2.3.0

# ===== Database =====
SQLAlchemy==2.0.36

# ===== ML & Core =====
numpy==2.2.1
scikit-learn==1.6.0
joblib==1.5.3

# ===== Deep Learning =====

=tensorflow==2.21.0
keras==3.13.2

# ===== Image Processing =====
Pillow==11.0.0

# ===== AI / LLM =====
sambanova==1.5.1
httpx==0.28.1

# ===== Utilities =====
python-dotenv==1.0.1
requests==2.32.5
tqdm==4.67.3
typing_extensions==4.15.0
